// Variabels

@import "colors";

//custom bootstrap variables


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$header-height:    128px;
$header-height-sm: 94px;

$spacer: 1rem;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);



// Links
//
// Style anchor elements.

$link-color:                              theme-color("primary") !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;


// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   $spacer * 2;


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.5;
$line-height-sm:              1.5;

$border-width:                2px; //forms
$border-color:                $brand-gray; //forms

$border-radius:               6px;
$border-radius-lg:            6px;
$border-radius-sm:            6px;

$rounded-pill:                50rem !default;

$box-shadow-sm:               none;
$box-shadow:                  none;
$box-shadow-lg:               none;

$component-active-color:      $white;
$component-active-bg:         theme-color("primary");

$caret-width:                 4px; //22px selectbox caret
$caret-vertical-align:        middle;
$caret-spacing:               $caret-width * 1.5;
$toggler-size:                18px;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "DIN Pro", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:            $font-family-sans-serif;

// stylelint-enable value-keyword-case

$font-size-base:              rem(18px);
$font-size-lg:                rem(24px);
$font-size-sm:                rem(14px);
$font-size-xs:                rem(13px);

$font-weight-lighter:         lighter !default;

$font-weight-light:           300; //DIN Pro Light
$font-weight-normal:          400; // DIN Pro Regular
$font-weight-bold:            500; // DIN Pro Medium

$font-weight-medium:          $font-weight-normal; // use in nav header

$font-weight-bolder:          700;

$font-weight-base:            $font-weight-light;
$line-height-base:            1.5;

$h1-font-size:                rem(56px);
$h2-font-size:                rem(48px);
$h3-font-size:                rem(28px);
$h4-font-size:                rem(24px);
$h5-font-size:                rem(22px);
$h6-font-size:                $font-size-base;

$headings-margin-bottom:      $spacer * 1.5;

$headings-font-family:        null;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              null;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$small-font-size:             80% !default;

$text-muted:                  $gray-600 !default;


$blockquote-small-color:      $gray-600 !default;
$blockquote-small-font-size:  $small-font-size !default;

$blockquote-font-size:        $font-size-base;

$hr-border-color:             rgba($black, .1) !default;
$hr-border-width:             $border-width !default;


$list-inline-padding:         .5rem;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1280px,
  xl: 1480px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 960px,
  lg: 1240px,
  xl: 1440px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12;
$grid-gutter-width:           40px;
$grid-row-columns:            6;


@import "controls";

// Navs

$nav-link-padding-y:                .5rem;
$nav-link-padding-x:                $spacer * .875;
$nav-link-disabled-color:           $gray-600 !default;



// Navbar

$navbar-padding-y:                  $spacer / 2 !default;
$navbar-padding-x:                  0;

$navbar-nav-link-padding-x:         .5rem !default;

$navbar-brand-font-size:            $font-size-lg !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
$navbar-brand-padding-y:            0;

$navbar-toggler-padding-y:          .25rem !default;
$navbar-toggler-padding-x:          .75rem !default;
$navbar-toggler-font-size:          $font-size-lg !default;
$navbar-toggler-border-radius:      $btn-border-radius !default;
