// Variables
// --------------------------

$fa-font-size-base:   22px;

$fa-line-height-base: 1 !default;
//$fa-font-path:        "../../../node_modules/font-awesome/fonts/";
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$fa-css-prefix:       fa !default;
$fa-version:          "4.7.0" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:         (30em / 14) !default;  


@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/mixins";
@import "~font-awesome/scss/path";
@import "~font-awesome/scss/core";
//@import "~font-awesome/scss/larger";
//@import "~font-awesome/scss/fixed-width";
//@import "~font-awesome/scss/list";
//@import "~font-awesome/scss/bordered-pulled";
//@import "~font-awesome/scss/animated"; 
//@import "~font-awesome/scss/rotated-flipped";
//@import "../~font-awesome/scss/stacked";
@import "~font-awesome/scss/icons"; 
//@import "~font-awesome/scss/screen-reader";     