$width-ldr: 64px;
$height-ldr: 64px;
.lds-ripple {
    display: inline-block;
    position: relative;
    width: $width-ldr;
    height: $height-ldr;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}


.form-container{
    position:relative;

    .progressbar{
        position: absolute;
        top:50%;
        left:50%;
        margin-left: $height-ldr/-2;
        margin-top: $width-ldr/-2;

    }
}

.news-ajax-loader{
    position: fixed;
    top:50%;
    left:50%;
    margin-left: $height-ldr/-2;
    margin-top: $width-ldr/-2;
    z-index: 50;
}