
.navbar-nav{  

    @include media-breakpoint-up(lg) {
        .collapsing {
            -webkit-transition: none;
            transition: none;
            display: block;
            height: 100%;
        }

    }

    //custom logic of first nav level - show submenu on click
    @include media-breakpoint-up(lg) {
        > .nav-item{
            margin-left: 10px;

            & > .nav-controls{
                position: relative;
                .nav-toggler{
                    @include overlay(1);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
                .nav-link{
                    font-size: rem(15px);
                    color: $white;
                    font-weight: $font-weight-bold;
                    text-decoration: none;
                    transition: color 0.15s ease-in-out;
                    position: relative;
                    letter-spacing: 0.35px;

                    &.active {
                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: $nav-link-padding-y;
                            right: $nav-link-padding-y;
                            height: 2px;
                            background-color: $brand-red;
                        }
                    }
                }

                @include hover-focus{
                    .nav-link{
                        color: $brand-red;  
                    }
                }

            }

            &:last-child {
                margin-left: 20px;
                padding-right: 0;
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }

    }


    //prefix
    .nav{ 
        // common styles
        &-controls{
            position: relative;
        }

        &-toggler{
            @include media-breakpoint-up(lg) {
                opacity: 0;
            }
        }


        &-link{
            line-height: normal;
            text-decoration: none;
            transition: color 0.15s ease;
        }


        // top level dropdown
        &-dropdown{

            @include media-breakpoint-up(lg) {
                position: fixed;
                top: $header-height;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $brand-gray-light;
                overflow-y: scroll;
                @include custom-scroll;
            }


            @include media-breakpoint-up(lg) {
                .collapse {
                    display: block;
                }
            }

            // desctop link panel
            &-panel{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid $brand-gray;
                margin-bottom: 35px;
                padding-bottom: 20px;
                .btn-link{
                    @extend .btn;
                    @extend .btn-lg;
                    @extend .btn-link-primary;
                }
            }

            //columns
            &-content{
                //split by column if more then 2 levels with class .simple - off
                @include media-breakpoint-up(lg) {
                    &:not(.simple){
                        > .subnav{
                            display: flex;
                            flex-wrap: wrap;

                            & > li{
                                display: flex;
                                flex-grow: 1;
                                flex-direction: column;
                                min-width: 25%;
                            }
                        }
                    }
                }
            }
            //end columns
        }
        
        &-container{
            padding-top: $navigation-spacer/2;
        }
    }
}

