// Your custom variables should be here
@import "_custom/variables.scss";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
//@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
//@import "~bootstrap/scss/print";

@import "_mixin/import";

//custom styles for RTE
@import "_base/import"; 
@import "_custom/_rte";

body{
    background: #fff;
}

.cke_editable{
    &.cke_editable_themed{ 
        font-family: $font-family-base; 
        line-height: $line-height-base;
        font-size: $font-size-base;  
        padding: 15px 10px;
        .b, strong{
            font-weight: 500;
        } 

        blockquote{
            font-style: normal;
            font-family: inherit;
            padding: 0 0 0 40px;
            border-style: solid;
            border-color: transparent;
            border-width: 0; 
        }
        ul{
            @extend .list-normal;
        }
    }
} 
